body{
	font-family: sans-serif;
	background: url(https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
	background-size: cover;
	color:white;
	text-align: center;
}
.textinput{
	
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 2px 0;
	margin: 8px 0;
}
.textinput input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: center;
	margin: 0 10px;
}
.btn{
	width: 10%;
	background: none;
	border: 2px solid #5a00c9;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
	size:12px;
}